name: example
description: A sample project using FlutterGen.

publish_to: 'none'

version: 1.0.0+2

environment:
  sdk: ">=2.16.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_svg: ^1.0.3
  flare_flutter: ^3.0.2
  rive: ^0.8.4

  # Dependency check
  collection: ^1.16.0
  crypto: ^3.0.1
  glob: ^2.0.2
  
  firebase_analytics: 9.1.8
  firebase_core: 1.14.1
  firebase_auth: 3.3.18
  firebase_remote_config: 2.0.7
  firebase_dynamic_links: 4.1.3
  firebase_performance: 0.8.0+7
  firebase_messaging: 11.2.13
  firebase_app_installations: 0.1.0+8
  is_firebase_test_lab_activated: 2.0.0
  sentry_flutter: 6.5.1
  sentry_dio: 6.5.1
  adjust_sdk: 4.29.2
  google_sign_in: 5.3.0
  twitter_login: 4.2.3
  flutter_facebook_auth: 4.3.3
  sign_in_with_apple: 3.3.0
  local_auth: 2.0.1
  flutter_hooks: 0.18.3
  hooks_riverpod: 1.0.3
  async: 2.8.2
  dio: 4.0.6
  connectivity_plus: 2.3.0
  ua_client_hints: 1.1.0
  retrofit: 3.0.1+1
  uuid: 3.0.6
  http_parser: 4.0.0
  protobuf: 2.0.1
  json_serializable: 6.2.0
  json_annotation: ^4.5.0
  freezed_annotation: 2.0.1
  intl: 0.17.0
  fixnum: 1.0.0
  shared_preferences: 2.0.13
  flutter_secure_storage: 5.0.2
  auto_route: 3.2.4
  gap: 2.0.0
  lottie: 1.3.0
  flutter_layout_grid: 2.0.0
  video_player: 2.4.0
  audio_service: 0.18.4
  cached_network_image: 3.2.0
  flutter_cache_manager: 3.3.0
  visibility_detector: 0.2.2
  sliver_tools: 0.2.6
  dotted_border: 2.0.0+2
  scrollable_positioned_list: 0.2.3
  sticky_headers: 0.2.0
  infinite_listview: 1.1.0
  built_collection: 5.1.1
  dartx: 1.1.0
  rxdart: 0.27.3
  flutter_inappwebview: 5.4.3+7
  webview_flutter: 3.0.2
  uni_links: 0.5.1
  url_launcher: 6.1.0
  package_info_plus: 1.4.2
  native_device_orientation: 1.0.0
  wakelock: 0.6.1+1
  device_info_plus: 3.2.3
  playbook: 0.0.3
  image_picker: 0.8.5
  flutter_image_compress: 1.1.0
  image_editor: 1.0.2
  permission_handler: 9.2.0
  camera: 0.9.5
  flutter_local_notifications: 9.4.1
  logger: 1.1.0
  geolocator: 8.2.0
  geocoding: 2.0.4
  android_intent_plus: 3.1.1
  share_plus: 4.0.4
  stack_trace: 1.10.0
  in_app_review: 2.0.4
  pull_to_refresh: 2.0.0
  xml: ^5.4.1

  example_resources:
    path: ../example_resources

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  build_runner: ^2.1.11
  flutter_gen_runner: ^4.3.0

  flutter_lints: ^2.0.1

flutter_gen:
  output: lib/gen/ # Optional (default: lib/gen/)
  line_length: 80   # Optional (default: 80)

  integrations:
    flutter_svg: true
    flare_flutter: true
    rive: true

  assets:
    enabled: true
    package_parameter_enabled: false
    # Assets.imagesChip
    # style: camel-case

    # Assets.images_chip
    # style: snake-case

    # Assets.images.chip (default style)
    # style: dot-delimiter
    exclude: 
      - assets/images/chip3/chip3.jpg
      - pictures/chip5.jpg
      - assets/flare/

  fonts:
    enabled: true

  colors:
    enabled: true
    inputs:
      - assets/color/colors.xml
      - assets/color/colors2.xml
      - assets/color/colors2.xml # duplicated

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/images/chip3/chip3.jpg
    - assets/images/chip3/chip3.jpg # duplicated
    - assets/images/chip4/
    - assets/images/icons/fuchsia.svg
    - assets/images/icons/kmm.svg
    - assets/images/icons/paint.svg
    - assets/images/icons/dart@test.svg
    - assets/json/fruits.json
    - pictures/chip5.jpg
    - assets/flare/
    - assets/rive/
    - assets/movie/
    - assets/unknown/
  fonts:
    - family: Raleway
      fonts:
        - asset: assets/fonts/Raleway-Regular.ttf
        - asset: assets/fonts/Raleway-Italic.ttf
          style: italic
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700

    # duplicated
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700
