name: example
description: A sample project using FlutterGen.

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=2.9.0 <3.0.0'
  flutter: '>=1.20.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner:
  flutter_gen:
    path: ../

flutter_gen:
  output: lib/gen/ # Optional (default: lib/gen)
  lineLength: 80   # Optional (default: 80)

  colors:
    inputs:
      - assets/color/colors.xml
      - assets/color/colors2.json
      - assets/color/colors3.xml
      - assets/color/colors3.xml # duplicated

flutter:
  uses-material-design: true
  assets:
    - assets/images
    - assets/images/chip3/chip3.jpg
    - assets/images/chip3/chip3.jpg # duplicated
    - assets/images/chip4/
    - assets/fruits.json
  fonts:
    - family: Raleway
      fonts:
        - asset: assets/fonts/Raleway-Regular.ttf
        - asset: assets/fonts/Raleway-Italic.ttf
          style: italic
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700

    # duplicated
    - family: RobotoMono
      fonts:
        - asset: assets/fonts/RobotoMono-Regular.ttf
        - asset: assets/fonts/RobotoMono-Bold.ttf
          weight: 700

