name: example_resources
description: A sample project using FlutterGen.

publish_to: 'none'

version: 1.0.0+2

environment:
  sdk: ">=2.16.0 <3.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_svg: 2.0.0+1
  flare_flutter: 3.0.2
  rive: 0.9.1
  lottie: 2.0.0

dev_dependencies:
  build_runner: ^2.1.11
  flutter_gen_runner: ^5.1.0+1

flutter_gen:
  output: lib/gen/
  line_length: 80

  integrations:
    flutter_svg: true
    flare_flutter: true
    rive: true
    lottie: true

  assets:
    enabled: true
    outputs:
      package_parameter_enabled: true
      class_name: ResAssets

  fonts:
    enabled: true

  colors:
    enabled: true
    inputs:
      - assets/color/colors.xml


flutter:
  assets:
    - assets/images/
