name: Dart CI

on:
  pull_request: { }
  push:
    branches:
      - 'main'

jobs:
  build:
    name: Run on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: Set environment
        run: echo "$HOME/.pub-cache/bin" >> $GITHUB_PATH

      - name: Get dart dependencies.
        run: make dependencies

      - name: Run tests for our dart project.
        run: |
          make unit-test

      - name: Run coverage
        if: matrix.os == 'ubuntu-latest'
        run: |
          make coverage

      - name: Generate example
        run: |
          make generate-with-command
          make generate-with-runner

      - name: Check for any formatting and statically analyze the code.
        run: |
          make format
          make analyze
